apollo_torch==1.0.3
av==13.1.0
bitsandbytes==0.45.0
diffusers==0.30.3
fastapi==0.118.0
fire==0.7.0
flash_attn==2.6.3
Flask==3.1.2
fsspec==2023.10.0
galore_torch==1.0
gradio==5.48.0
gym==0.26.2
gym_sokoban==0.0.6
jieba==0.42.1
Jinja2==3.1.6
jsonlines==4.0.0
latex2sympy2_extended==1.0.6
librosa==0.11.0
llava==1.7.0.dev0
loguru==0.7.2
math_verify==0.5.2
matplotlib==3.10.6
MoD==0.3.0
modelscope==1.30.0
nltk==3.9.1
numpy==2.3.3
openmind==1.0.0
packaging==25.0
peft==0.11.1
Pillow==11.3.0
psutil==5.9.0
pyarrow==17.0.0
pydantic==2.11.9
pylatexenc==2.10
python_Levenshtein==0.27.1
PyYAML==6.0.1
qwen_vl_utils==0.0.14
Requests==2.32.5
ring_flash_attn==0.1.8
rouge_chinese==1.0.3
safetensors==0.6.2
setuptools==69.5.1
sglang==0.5.2
sse_starlette==3.0.2
swanlab==0.6.10
sympy==1.13.1
torch==2.6.0
tqdm==4.66.4
transformers==4.50.0
trl==0.12.0
typing_extensions==4.15.0
uvicorn==0.37.0
vllm==0.8.1
wandb==0.22.1
wheel==0.45.1
